.flex-container{
    display: flex;
    justify-content: space-between;
    gap: 10;
    flex-direction: column;
}
.flex-container div{
    background-color: aqua;
    padding: 5px;
}
.gallery div{
    flex: 1 1 calc(25%-1px);
    height: 100px;
    background-color: lightcoral;
}
.dashboard{
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
}
.header{
    flex: 1 100%;
    background-color: lightgreen;
    padding: 20px;
    text-align: center;
}
.home{
    flex: 1 20%;
    background-color: lightgoldenrodyellow;
    padding: 20px;
    text-align: center;
}
.content{
    flex: 2 60%;
    background-color: lightgray;
    padding: 20px;
    text-align: center;
}
.sidebar{
    flex: 1 20%;
    background-color: lightsalmon;
    padding: 20px;
    text-align: center;
}
.footer{
    flex: 1 100%;
    background-color: lightpink;
    padding: 20px;
    text-align: center;
}